PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/adspace
JWT_ACCESS_SECRET=supersecretaccesskey123456789
JWT_REFRESH_SECRET=supersecretrefreshkey987654321
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d
IMAGEKIT_PUBLIC_KEY=public_mock_key
IMAGEKIT_PRIVATE_KEY=private_mock_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/adspace
SNS_TOPIC_ARN=arn:aws:sns:ap-south-1:123456789012:adspace-notifications
CLIENT_ORIGINS=exp://,http://localhost:8081,http://localhost:19006,http://localhost:8082
